/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

td img:hover {
    transform: scale(1.05);
    border-color: #333;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a, .pagination span {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .current-page {
    font-weight: bold;
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.gallery td p {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
}

.gallery-item {
    width: 18%; /* Slightly less than 20% to account for margins */
    margin-bottom: 20px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

.gallery-item p {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
}

/* You may want to add media queries for better responsiveness */
@media (max-width: 1200px) {
    .gallery-item {
        width: 23%; /* 4 items per row */
    }
}

@media (max-width: 900px) {
    .gallery-item {
        width: 31%; /* 3 items per row */
    }
}

@media (max-width: 600px) {
    .gallery-item {
        width: 48%; /* 2 items per row */
    }
}

@media (max-width: 400px) {
    .gallery-item {
        width: 100%; /* 1 item per row */
    }
}

.controls {
    margin-bottom: 20px;
    text-align: center;
}

.show-all-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.show-all-btn:hover {
    background-color: #0056b3;
}